.main{width: 100%;position: relative;}
#map{width: 100%;height: 1128px;background-color: #fbd437;}
.main-right{width: 870px;height:800px;position: absolute;top:15px;right:15px;}
.main-right .tabs{width: 100%;height:100px;padding:18px 38px;margin-bottom:20px;position: relative;;box-sizing: border-box;overflow-y: scroll;;white-space: nowrap;font-size: 16px;background-color:rgba(17, 101, 179, 0.5);}
.main-right .tabs::-webkit-scrollbar {display: none;}
.main-right .tabs ul{position: absolute;transition: left 1s;}
.main-right .tabs li{display: inline;margin:0 12px;}
.main-right .tabs li a{display: inline-block;width:131px;height: 64px;line-height: 64px;text-align: center;font-size: 16px;background-color: #032e4c;border: solid 1px #1890ff;color: #48b8ff;}
.main-right .tabs li .active{border-color:#fff;color: #fff;background-color: #1890ff;}
.main-right .tabs .roll{width:38px;height: 100px;line-height: 100px;position: absolute;top: 0;text-align: center;}
.main-right .tabs .arr{left: 0;background-image: linear-gradient(90deg,#48b8ff 0%,#1890ff 100%), 
    linear-gradient( #2891fc,  #2891fc);background-blend-mode: normal, normal;}
.main-right .tabs .arrow{right: 0;background-image: linear-gradient(-90deg, #48b8ff 0%,  #1890ff 100%), 
    linear-gradient( #2891fc, #2891fc);background-blend-mode: normal,  normal;}

.main-right .box{width: 100%;height: 993px;padding:20px 35px;box-sizing: border-box;background-color: rgba(24, 98, 152, 0.2);}
.main-right .cont{display: flex;justify-content:space-between;margin-bottom: 20px;}
.main-right .cont .weather{text-align: center;padding-right:20px;}
.main-right .cont .tit{padding-left: 43px;}
.main-right .cont .add{display: inline-block;width: 120px;height: 38px;line-height: 38px;margin-top: 10px;background-color: #48b8ff;border-radius: 2px;color: #fff;}
.main-right .cont .service{width: 200px;border-left:solid 1px #48b8ff;padding:0 10px;}
.main-right .cont .table{height: 20px;padding-left: 10px;box-sizing: border-box;line-height: 20px;font-size: 16px;}
.main-right .cont .num{height: 40px;padding-left: 10px;box-sizing: border-box;line-height: 40px;font-size: 24px;}
.main-right .cont .ech{width: 100%;height: 60px;}

#ridership{width: 100%;height: 240px;}
#structure-age,#structure-sex{width: 50%;height: 275px;}

.main-right table{width: 100%;text-align: center;font-size: 16px;background-color: #fff;}
.main-right table th{line-height:44px;background-color: #1890ff;color: #fff;}
.main-right table td{line-height:40px;color: #1890ff;}
.main-right table .hove:hover{background-color: #edf5fc;}